.divv {
  padding: 0%;
  height: 50px;
  position: relative;
  animation: MyDiv 3s infinite ease-in;
}

.alt-rev {
  animation-direction: alternate-reverse;
}

@keyframes MyDiv {
  0%   {left: 0px; top: 75px;}
  100%  {left: 0px; top: 0px;}
}

h3{
  text-align: center;
  color: maroon;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  text-shadow:
    1px 1px 2px red,
    0 0 1em lime,
    0 0 0.2em lime;
}

  
  
 
